<div class="table-responsive">
  <table class="table table-bordered table-sm table-striped">
    <thead>
      <tr>
        <th>Paciente</th> 
        <th>Fecha</th>
        <th>Motivo</th>
        <th>Especialidad</th>
        <th>Especialista Destino</th>
      </tr>
    </thead>
    <tbody>
      @for (derivacion of derivaciones; track $index) {
        <tr>
          <td class="fw-bold">{{ derivacion.nombre_paciente }}</td>
          
          <td>{{ derivacion.fecha | date: 'mediumDate' }}</td>
          <td>{{ derivacion.motivo }}</td>
          <td>{{ derivacion.especialidaddentista }}</td>
          <td>{{ derivacion.especialista_destino }}</td>
        </tr>
      }
      @if (derivaciones.length === 0) {
        <tr>
          <td colspan="5" class="text-center text-muted"> No hay derivaciones registradas...
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>