<div class="table-responsive">
  <table class="table table-bordered table-sm table-striped">
    <thead>
      <tr>
        <th>Fecha Registro</th> 
        <th>Alergias</th>
        <th>Enfermedades</th>
        <th>Avance Tratamiento</th>
        <th>Fecha Cita</th>
        <th>Motivo Cita</th>
      </tr>
    </thead>
    <tbody>
      @for (registro of historial; track $index) {
        <tr>
          <td class="fw-bold">{{ registro.fecha_historial | date: 'mediumDate' }}</td>
          <td>{{ registro.alergias }}</td>
          <td>{{ registro.enfermedades }}</td>
          <td>{{ registro.avancetratamiento }}</td> <td>{{ registro.fecha_cita | date: 'mediumDate' }}</td>
          <td>{{ registro.motivo_cita }}</td>
        </tr>
      }
      
      @if (historial.length === 0) {
        <tr>
          <td colspan="6" class="text-center text-muted"> 
             No hay historial registrado del paciente
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>