<div class="mb-3 cuad">
  <h1 class="txt">Gestión de pacientes</h1>
  <h4 class="txt-2">Dr.{{ usuarioLogueado.nombres}}</h4>
</div>

<!--INSERCIONES-->
<!--
HISTORIAL CLINICO-Al iniciar la consulta, el dentista entrevista al paciente. Si el paciente reporta una nueva alergia o enfermedad crónica, el dentista debe actualizar el registro existente.
-- El dentista agrega "Penicilina" a las alergias del historial asociado al paciente
UPDATE historial SET aleigas = 'Penicilina', enfermedades = 'Diabetes'
WHERE Pacienteid = [ID_DEL_PACIENTE_EN_SILLA];


Gestión de Estado de la Cita (UPDATE)
Acción: Indicar que el paciente ya está siendo atendido o que la cita ha finalizado. Esto es útil para métricas de tiempo y para que recepción sepa cuándo cobrar.
Tabla: Cita.
Campos clave: estado cita , descripcion.
-- Marcar la cita como "Finalizada" (suponiendo que 2 = Finalizada) y agregar notas
UPDATE Cita
SET estado_cita = 2, descripcion = 'Limpieza profunda realizada sin complicaciones'
WHERE id_cita = [ID_CITA_ACTUAL];


Registro del Tratamiento Realizado (INSERT)
Esta es la operación más crítica ("El Core"). El dentista registra qué procedimiento le hizo al paciente.
Acción: Insertar un registro que vincule al paciente con un tipo de tratamiento específico (ej. "Extracción", "Endodoncia").
Tabla: Tratamiento (o la tabla intermedia que une Cita/Paciente con Tipo Tratamiento ).
Campos clave: id tipo tratamiento , costo , descripcion
-- Registrar que se realizó una "Resina" al paciente actual
INSERT INTO Tratamiento (id_tipo_tratamiento, descripcion, costo, Pacienteid)
VALUES ([ID_TIPO_RESINA], 'Resina en molar superior derecho', 500.00, [ID_PACIENTE]);


Derivaciones a Especialistas (INSERT)
Si el dentista general detecta algo complejo (ej. cirugía maxilofacial), debe derivar al paciente.
Acción: Crear una orden de referencia a otro doctor.
Tabla: Derivacion.
Campos clave: motivo , expectativa (interpretado del OCR expectadCermata ), Nombre Dentista (externo).
INSERT INTO Derivacion (motivo, expectativa, Nombre_Dentista, Pacienteid)
VALUES ('Requiere ortodoncia compleja', 'Valoración de brackets', 'Dr. Pérez', [ID_PACIENTE]);


Consumo de Materiales (INSERT / UPDATE)
Para calcular la rentabilidad, el dentista debe reportar qué gastó (ej. cuánta anestesia o qué kit usó).
Acción: Registrar los materiales usados en esa sesión específica.
Tabla: Material tratamiento y Material.
Campos clave: id material , cantidad
INSERT INTO Material_tratamiento (id_tratamiento, id_material, cantidad)
VALUES ([ID_TRATAMIENTO_RECIENTE], [ID_GUANTES], 2);
UPDATE Material SET stock = stock - 2 WHERE id_material = [ID_GUANTES];

-->
<!-----------------------------------------------------LISTADO DE CITAS ------------------------------------------------------->
<!--PARA TODAS LAS CITAS-->
<div class="row">

  <div class="col-md-20">
    <h2>Agenda de citas</h2>
  </div>

</div>
<div class="card border-secondary shadow-sm contendor">
  <div class="card-header bg text-white">
    <h5 class="mb-0">
      <i class="bi bi-calendar3"></i>Filtro de citas</h5>
  </div>
  
  <div class="card-body claseBody">
    <div class="row g-3 align-items-end mb-3">
      
      <div class="col-md-3">
        <label class="form-label fw-bold">Fecha:</label>
        <input type="date" class="form-control" [(ngModel)]="fechaFiltro">
      </div>

      <div class="col-md-3">
        <label class="form-label fw-bold">Estado:</label>
        <select class="form-select" [(ngModel)]="estadoFiltro">
          @for (estado of estadosPosibles; track estado) {
            <option [value]="estado">{{ estado }}</option>
          }
        </select>
      </div>

      <div class="col-md-2">
        <button class="btn btn-primary w-100" (click)="buscarCitasPorFecha()">
          <i class="bi bi-search"></i> Filtrar
        </button>
      </div>
      
      <div class="col-md-2">
          <button class="btn btn-outline-secondary w-100" (click)="limpiarFiltroFecha()">
            Limpiar
          </button>
      </div>
    </div>

    @if (citasFiltradas.length > 0) {
      <div class="table-responsive">
        <table class="table table-hover table-bordered align-middle">
          <thead class="table-light">
            <tr>
              <th>Hora</th>
              <th>Paciente</th>
              <th>Motivo</th>
              <th class="text-center">Estado</th>
              <th class="text-center">Acción</th>
            </tr>
          </thead>
          <tbody>
            @for (cita of citasFiltradas; track cita.id_cita) {
              <tr>
                <td class="fw-bold">{{ cita.hora}}</td>
                
                <td>{{ cita.paciente_nombre_completo }}</td>
                <td>{{ cita.motivo_principal_cita }}</td>
                
                <td class="text-center">
                  <span class="badge rounded-pill"
                    [class.bg-primary]="cita.estado_cita === 'Agendada'"
                    [class.bg-info]="cita.estado_cita === 'Confirmada'"
                    [class.bg-success]="cita.estado_cita === 'Atendida'"
                    [class.bg-warning]="cita.estado_cita === 'Pendiente' || cita.estado_cita === 'Reprogramada'"
                    [class.bg-danger]="cita.estado_cita === 'Cancelada' || cita.estado_cita === 'No asistio'">
                    {{ cita.estado_cita }}
                  </span>
                </td>

                <!--td>{{ cita.dentistas_involucrados || 'Sin asignar' }}</td-->

                <td class="text-center">
                 @if (cita.estado_cita ==='Agendada') {
                    <button class="btn btn-sm btn-success" (click)="abrirModalAtencion(cita)">
                      Atender
                    </button>
                  }@else if(cita.estado_cita==='Atendida'){
                    <button class="btn btn-sm btn-editar" (click)="abrirModalAtencion(cita)">
                      Ver/Editar
                    </button>
                  }
                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    } @else {
      <div class="alert alert-info mt-3" role="alert">
        <i class="bi bi-info-circle"></i> No hay citas para la fecha y estado seleccionados.
      </div>
    }
  </div>
</div>

<app-atencion-cita
  [citaSeleccionada]="citaParaAtender"
  (atencionGuardada)="recargarDatos()">
</app-atencion-cita>


<!-----------------------------------------------------------------------------------------------------------REPORTES-->
<div class="row">

  <div class="col-md-20">
    <h2 class="p-3 mb-3">Reportes de pacientes</h2>
  </div>

  <div class="card p-3 shadow-sm mb-3">
    <form [formGroup]="searchForm" (ngSubmit)="onSearch()" class="formulario">

      <h4 class="mb-3">Buscar pacientes:</h4>

      <!-- Fila con 3 columnas -->
      <div class="row">

        <div class="col-md-4">
          <label for="inputNombres" class="form-label">Nombres:</label>
          <input
            type="text"
            id="inputNombres"
            formControlName="nombres"
            placeholder="Ej: Juan"
            class="form-control"
          />
          <!--validacion-->
          @if(searchForm.get('nombres')?.invalid && searchForm.get('nombres')?.touched){
            <div class="text-danger" >
                Solo se permiten letras.
            </div>
          }
        </div>

        <div class="col-md-4">
          <label for="inputPat" class="form-label">Apellido Paterno:</label>
          <input
            type="text"
            id="inputPat"
            formControlName="apellidoPat"
            placeholder="Ej: Perez"
            class="form-control"
          />

          <!--validacion-->
          @if(searchForm.get('apellidoPat')?.invalid && searchForm.get('apellidoPat')?.touched){
            <div class="text-danger" >
                Solo se permiten letras.
            </div>
          }
        </div>

        <div class="col-md-4">
          <label for="inputMat" class="form-label">Apellido Materno:</label>
          <input
            type="text"
            id="inputMat"
            formControlName="apellidoMat"
            placeholder="Ej: Garcia"
            class="form-control"
          />

          <!--validacion-->
          @if(searchForm.get('apellidoMat')?.invalid && searchForm.get('apellidoMat')?.touched){
            <div class="text-danger" >
                Solo se permiten letras.
            </div>
          }
        </div>

      </div>
      
      <div class="row">
        <!-- Botón que ocupa las 3 columnas -->
        <div class="col-md-4">
          <div class="col-12">
            <button type="submit" class="btn btn-primary w-100">Buscar</button>
          </div>
        </div>

        <!--Boton de reset de busqueda-->
        <div class="col-md-4">
          <button (click)="resetBusqueda()" class="btn btn-warning w-100 warning">
            Borrar busqueda
          </button>
        </div>

        <!--boton de regreso-->
        <div class="col-md-4">
          <button (click)="volverAlMenu()" class="btn btn-secondary w-100 volver">
            Volver a opciones
          </button>

        </div>


      </div>
      

    </form>
  </div>

  <!-- Columna derecha: tabla -->
  <div class="col-md-20">
    <div class="bg-light p-3 border rounded">

      <h4 class="mb-3">Reporte Clínico Consolidado</h4>

      <div class="table-responsive">
        <table class=" table-striped table-hover table-sm table-bordered">

          <thead>
            <tr>
              <th>Nombre Completo</th>
              <th>Fecha y Hora</th>
              <th>Motivo Cita</th>
              <th>Dentistas</th>
              <th>Tratamiento y Cantidad</th>
              <th>Avance Historial</th>
              <th>Derivaciones</th>
              <th>Estudios</th>
            </tr>
          </thead>

          <tbody>

            @for (reporte of pacientes; track reporte.id_cita) {
              <tr  
                (click)="seleccionarPaciente(reporte)" 
                style="cursor: pointer;" 
                class="estilo_s hover-aqua"
                [class.fila-seleccionada]="reporte.id_paciente === pacienteSeleccionadoId"
              >


                <td>{{ reporte.paciente_nombre_completo }}</td>
                <td>{{ reporte.fecha_hora | date: 'mediumDate' }}</td>
                <td>{{ reporte.motivo_principal_cita }}</td>
                <td>{{ reporte.dentistas_involucrados }}</td>

                <td>
                  @for (item of (reporte.tratamientos_y_cantidad || '').split('|'); track $index) {
                    <div class="separador-reporte">
                      {{ item.trim() }}
                    </div>
                  }
                </td>

                <td>{{ reporte.historial_avance }}</td>

                <td>
                  @for (item of (reporte.derivaciones_registradas || '').split('|'); track $index) {
                    <div class="separador-reporte">
                      {{ item.trim() }}
                    </div>
                  }
                </td>

                <td>
                  @for (item of (reporte.estudios_realizados_o_solicitados || '').split('|'); track $index) {
                    <div class="separador-reporte">
                      {{ item.trim() }}
                    </div>
                  }
                </td>
              </tr>
            }

            @if (pacientes.length === 0) {
              <tr>
                <td colspan="10" class="text-center text-muted">
                  No se encontraron citas o pacientes con esos criterios.
                </td>
              </tr>
            }

          </tbody>

        </table>
      </div>

    </div>
  </div>

</div>


<!-- PESTAÑAS -->
<div div class="row">
  <h3>Reportes de seguimiento</h3>

  <ul class="nav nav-tabs mt-4" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="tabla1-tab" data-bs-toggle="tab" data-bs-target="#tabla1" type="button" role="tab">
        Tratamientos
      </button>
    </li>

    <li class="nav-item" role="presentation">
      <button class="nav-link" id="tabla2-tab" data-bs-toggle="tab" data-bs-target="#tabla2" type="button" role="tab">
        Derivaciones
      </button>
    </li>

    <li class="nav-item" role="presentation">
      <button class="nav-link" id="tabla3-tab" data-bs-toggle="tab" data-bs-target="#tabla3" type="button" role="tab">
        Historial
      </button>
    </li>

  </ul>

  <!--PESTAÑAS-->
  <!-- CONTENIDO DE CADA PESTAÑA -->
  <div class="tab-content p-3 border border-top-0 rounded-bottom" id="myTabContent">
    <!-- TAB 1-tratamientos -->
    <div class="tab-pane fade show active" id="tabla1" role="tabpanel">
      <app-tratamiento-pacientes 
      [idPaciente]="pacienteSeleccionadoId">
      </app-tratamiento-pacientes>
    </div>

    <!-- TAB 2 - DERIVACIONES-->
    <div class="tab-pane fade" id="tabla2" role="tabpanel">
      <app-derivaciones-ext-paciente 
        [idPaciente]="pacienteSeleccionadoId">
      </app-derivaciones-ext-paciente>
    </div>

    <!-- TAB 3 -->
    <div class="tab-pane fade" id="tabla3" role="tabpanel">
      <app-historial-pacientes
      [idPaciente]="pacienteSeleccionadoId">
      </app-historial-pacientes>
    </div>

  </div>

</div>


